[Desktop Entry]
Name=Firewall
Name[ar]=الجدار النّاري
Name[as]=ফায়াৰ্ৱাল
Name[bg]=Защитна стена
Name[bn_IN]=ফায়ারওয়াল
Name[ca]=Tallafoc
Name[cs]=Firewall
Name[da]=Firewall
Name[de]=Firewall
Name[el]=Τείχος προστασίας
Name[en_GB]=Firewall
Name[en_US]=Firewall
Name[es]=Cortafuegos
Name[et]=Tulemüür
Name[eu]=Suhesia
Name[fi]=Palomuuri
Name[fr]=Pare-feu
Name[gl]=Devasa
Name[gu]=ફાયરવોલ
Name[hi]=फायरवाल
Name[hu]=Tűzfal
Name[ia]=Parafoco
Name[it]=Firewall
Name[ja]=ファイアウォール
Name[ka]=ქსელური ფარი
Name[kn]=ಫೈರ್ವಾಲ್
Name[ko]=방화벽
Name[ml]=ഫയര്‍വോള്‍
Name[mr]=फायरवॉल
Name[nl]=Firewall
Name[or]=ଅଗ୍ନିକବଚ
Name[pa]=ਫਾਇਰਵਾਲ
Name[pl]=Zapora sieciowa
Name[pt]=Firewall
Name[pt_BR]=Firewall
Name[ru]=Межсетевой экран
Name[sk]=Firewall
Name[sq]=Firewall
Name[sr]=Заштитни зид
Name[sr@latin]=Zaštitni zid
Name[sv]=Brandvägg
Name[ta]=ஃபயர்வால்
Name[te]=ఫైర్‌వాల్
Name[tr]=Güvenlik Duvarı
Name[uk]=Мережний екран
Name[zh_CN]=防火墙
Name[zh_TW]=防火牆
Comment=Firewall Configuration
Comment[ar]=إعدادات الجدار النّاري
Comment[as]=ফায়াৰ্ৱাল বিন্যাস
Comment[bg]=Конфигуриране на защитната стена
Comment[bn_IN]=ফায়ারওয়াল কনফিগারেশন
Comment[ca]=Configuració del tallafoc
Comment[cs]=Nastavení firewallu
Comment[da]=Konfiguration af firewall
Comment[de]=Firewall-Konfiguration
Comment[el]=Ρύθμιση τείχους προστασίας
Comment[en_GB]=Firewall Configuration
Comment[en_US]=Firewall Configuration
Comment[es]=Configuración del cortafuegos
Comment[et]=Tulemüüri seadistamine
Comment[eu]=Suhesiaren konfigurazioa
Comment[fi]=Palomuuriasetukset
Comment[fr]=Configuration du pare-feu
Comment[gl]=Configuración da devasa
Comment[gu]=ફાયરવોલ રૂપરેખાંકન
Comment[hi]=फायरवाल विन्यास 
Comment[hu]=Tűzfal beállítások
Comment[ia]=Configuration de parafoco
Comment[it]=Configurazione del Firewall
Comment[ja]=ファイアウォールの設定
Comment[ka]=ქსელური ფარის კონფიგურაცია
Comment[kn]=ಫೈರ್ವಾಲ್ ಸ್ವರೂಪಣೆ
Comment[ko]=방화벽 설정
Comment[ml]=ഫയര്‍വോള്‍ ക്രമീകരണം
Comment[mr]=फायरवॉल संयोजना
Comment[nl]=Firewall configuratie
Comment[or]=ଅଗ୍ନିକବଚର ବିନ୍ଯାସ
Comment[pa]=ਫਾਇਰਵਾਲ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja zapory sieciowej
Comment[pt]=Configuração da Firewall
Comment[pt_BR]=Configuração do Firewall
Comment[ru]=Настройка межсетевого экрана
Comment[sk]=Nastavenia firewallu
Comment[sq]=Konfigurimi i Firewall
Comment[sr]=Подешавање заштитног зида
Comment[sr@latin]=Podešavanje zaštitnog zida
Comment[sv]=Brandväggskonfiguration
Comment[ta]=ஃபயர்வால் கட்டமைப்பு
Comment[te]=Firewall ఆకృతీకరణ
Comment[tr]=Güvenlik Duvarı Yapılandırması
Comment[uk]=Налаштовування мережного екрану
Comment[zh_CN]=防火墙配置
Comment[zh_TW]=防火牆組態
Icon=firewall-config
Categories=System;Settings;Security;
# Translators: These are searchable keywords for the firewall configuration tool
Keywords=firewall;network;security;iptables;netfilter;
Keywords[as]=firewall;network;security;iptables;netfilter;
Keywords[bn_IN]=firewall;network;security;iptables;netfilter;
Keywords[ca]=tallafoc;xarxa;seguretat;iptables;netfilter;
Keywords[cs]=firewall;síť;zabezpečení;iptables;netfilter;
Keywords[da]=firewall;network;security;iptables;netfilter;netværk;sikkerhed;iptabeller;
Keywords[de]=Firewall;Netzwerk;Sicherheit;Iptables;Netfilter;
Keywords[en_US]=firewall;network;security;iptables;netfilter;
Keywords[es]=cortafuegos;red;seguridad;iptables;netfilter;
Keywords[fi]=palomuuri;verkko;tietoturva;suojaus;turva;firewall;network;security;iptables;netfilter;
Keywords[fr]=pare-feu;réseau;sécurité;iptables;netfilter;
Keywords[gu]=ફાયરવોસ;નેટવર્ક;સુરક્ષા;iptables;netfilter;
Keywords[hi]=firewall;network;security;iptables;netfilter;
Keywords[hu]=tűzfal;hálózat;biztonság;iptables;netfilter;
Keywords[it]=firewall;rete;sicurezza;iptables;netfilter;
Keywords[ja]=ファイアウォール;ネットワーク;セキュリティー;iptables;netfilter;
Keywords[kn]=ಫೈರ್ವಾಲ್;ಜಾಲಬಂಧ;ಸುರಕ್ಷತೆ;iptables;ನೆಟ್‌ಫಿಲ್ಟರ್‌;
Keywords[ko]=방화벽;네트워크;보안;iptables;netfilter;
Keywords[ml]=firewall;network;security;iptables;netfilter;
Keywords[mr]=फायरवॉल;नेटवर्क;सुरक्षा;iptables;netfilter;
Keywords[nl]=firewall;netwerk;beveiliging;iptables;netfilter;
Keywords[or]=firewall;network;security;iptables;netfilter;
Keywords[pl]=zapora;sieciowa;ogniowa;firewall;sieć;sieci;network;bezpieczeństwo;zabezpieczenia;security;iptables;netfilter;
Keywords[pt]=firewall;network;security;iptables;netfilter;
Keywords[pt_BR]=firewall;network;security;iptables;netfilter;
Keywords[ru]=межсетевой экран;сеть;безопасность;iptables;netfilter;
Keywords[sk]=firewall;sieť;bezpečnosť;iptables;netfilter;
Keywords[sr]=заштитни зид;мрежа;сигурност;iptables;мрежни филтер;
Keywords[sv]=brandvägg;nätverk;säkerhet;iptables;netfilter;
Keywords[ta]=firewall;network;security;iptables;netfilter;
Keywords[te]=firewall;network;security;iptables;netfilter;
Keywords[uk]=firewall;network;security;iptables;netfilter;брандмауер;файрвол;екран;мережа;безпека;захист;айпітейблс;нетфільтр;
Keywords[zh_CN]=firewall;network;security;iptables;netfilter;
Keywords[zh_TW]=防火牆;網路;安全性;iptables;netfilter;
Exec=/usr/bin/firewall-config
Type=Application
StartupNotify=true
Terminal=false
